In [1]:
from sklearn.linear_model import LogisticRegression
import pandas as pd

In [18]:
data = pd.read_csv('data_logistic.csv')

In [19]:
data['Rhyw'] = data['Rhyw'].apply(lambda x: int(x =='Gwryw'))

In [20]:
hyfforddi = data.sample(frac = 0.7)

In [21]:
profi = data.drop(hyfforddi.index)

In [22]:
X = hyfforddi[['Taldra', 'Pwysau', 'MaintGwasg', 'Oed', 'Rhyw']].as_matrix()

In [23]:
y = hyfforddi['Clefyd_Siwgr'].as_matrix()

In [24]:
clf = LogisticRegression(random_state=0).fit(X, y)

In [25]:
data.head()

       Taldra     Pwysau  MaintGwasg  Oed  Rhyw  Clefyd_Siwgr
0  170.719652  87.709946   40.215944   57     1             0
1  159.264575  91.679774   39.959742   62     1             1
2  154.907775  98.357373   34.586330   29     1             0
3  168.547460  93.480071   41.479106   54     0             1
4  175.842260  79.651198   34.537361   23     0             0

In [26]:
clf.predict([[171, 130, 40, 40,1]])

array([1], dtype=int64)

In [27]:
clf.predict([[171, 90, 40, 40,1]])

array([0], dtype=int64)

In [28]:
clf.intercept_

array([ 1.95671243])

In [29]:
clf.coef_

array([[-0.12978977,  0.14516298,  0.14244877,  0.05679208, -4.69295649]])

In [30]:
X_profi = profi[['Taldra', 'Pwysau', 'MaintGwasg', 'Oed', 'Rhyw']].as_matrix()

In [31]:
y_profi = profi['Clefyd_Siwgr'].as_matrix()

In [32]:
1-(sum((clf.predict(X_profi)-y_profi)**2)/len(y_profi))

0.89666666666666672